.section {
  flex-direction: column;
  margin: 3rem auto;
}

.cards_section{
    margin: 3rem auto;
}
.subtitle {
  text-align: center;
  color: gray;
}

.main_title h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.w_100 {
  width: 100%;
}

.card {
  overflow: hidden;
  border: 1px solid #c4c4c4;
  width: 35rem;
}
.card img{
    height: 100%;
}
.boder_radius {
  border-radius: 10px;
}

.img_fluid{
    width: 100%;
    height: auto;
}

.detailCard{
  border: 1px solid gainsboro;
  width: 33rem;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 2px 6px #d7cece;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}
.card_header{
  width: 300px;
  padding: 2rem;
  padding-bottom: 0;
}

.card_title{
  font-size: 2rem;
    text-align: center;
    margin: 1rem 0
}

.card_desc{
  font-size: 1.8rem;
    /* border: 1px solid; */
    color: gray;
    margin: 0.9rem 0;
}

.card_footer{
  font-size: 1.8rem;
  border-top: 1px solid gainsboro;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.overflowRow{
 
    display: flex;
    max-width: 1250px;
    overflow: scroll;
    /* width: 3000px; */
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}

.overflowRow::-webkit-scrollbar{
  display: none;
}

.cardOver{
  margin: 0 3rem;
    width: 444px;
}

.cardOver img{
  width: 300px;
    border-radius: 15px;
}